:root {
  --mainBlue: #F8DF45;
  --lightBlue:#fd6c6c;
  --mainGrey: #F9F9F8;
  --mainBlack:#16110B;
  --mainYellow: #f3de4b;
  --mainSearch: #C7BF9C;
  --mainBrown: #5C492F;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--mainWhite) !important;
  color: var(--mainBlack) !important;
}

.text {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue) !important;
}

.text-bright {
  color: var(--mainWhite) !important;
}